mig_7series_0_ex.cache/*
mig_7series_0_ex.hw/*
mig_7series_0_ex.ip_user_files/*
mig_7series_0_ex.sim/*
mig_7series_0_ex.xpr/*
mig_7series_0_ex.xpr
mig_7series_0_ex.runs/
mig_7series_0_ex.srcs/
vivado.jou
vivado.log
simulate_windows/*
reference/*
.vscode/*